.stage-content {
  width: 400px;
  height: 650px;
  background-color: #ffd699;
  box-shadow: 10px 10px 5px grey;
  padding: 10px;
}


}
img {
  width: 300px;
}

.text-content {
  border: 1px solid grey;
  padding: 5px;
}

.list {
  list-style-type: none;
}

.label {
  font-weight: bold;
}
